@model SistemaTaller.Models.Trabajo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trabajo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrabajo" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select  id="clientes" asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVehiculo" class="control-label"></label>
                <select id="selectVehiculo" asp-for="IdVehiculo" class="form-control"></select>
                <span asp-validation-for="IdVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select id="usuarios" asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input  id="fechai" asp-for="FechaInicio" class="form-control" />
                <span   asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Salida" class="control-label"></label>
                <input id="fechae" asp-for="Fecha_Salida" class="form-control" />
                <span asp-validation-for="Fecha_Salida" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select id="selectStatus" asp-for="Status" class="form-control" >

                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <textarea asp-for="Observaciones" class="form-control"></textarea>
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input  type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    $(document).ready(function () {
      var valor2 = $('#clientes').val();
        if (valor2 != "") {
            $.ajax({
                url: '/Trabajos/GetVehiculosId',
                async: true,
                type: 'POST',
                data: { id: valor2 },
                success: function (res) {
                    var json = JSON.parse(res.data);
                    $("#selectVehiculo").empty();
                    json.map((item) => {
                        $("#selectVehiculo").append('<option value="' + item.IdVehiculo + '">' + item.Marca + " " + item.Modelo + " " + item.Annio + '</option>');
                    })
                },
                error: function (data) {
                }
            });
        } else {
            $("#selectVehiculo").empty();
        }
       var valor = localStorage.getItem("cargo");
        if (valor == "Supervisor") {
            $("#clientes").attr("readonly", "readonly");
            $("#selectVehiculo").attr("readonly", "readonly");
            $("#fechai").attr("readonly", "readonly");
            $("#fechae").attr("readonly", "readonly");
            $("#selectStatus").append('<option value="Inciado">INICIADO</option> <option value="Terminado">TERMINADO</option>  <option value="Rechazado">RECHAZADO</option>');
        } else if (valor == "Representante") {
            $("#usuarios").attr("readonly", "readonly");
            $("#selectStatus").append('<option value="Recibido">RECIBIDO</option>');
        } else {
            $("#clientes").attr("disabled", "readonly");
            $("#fechai").attr("disabled", "readonly");
            $("#fechae").attr("disabled", "readonly");
            $("#selectVehiculo").attr("disabled", "readonly");
            $("#usuarios").attr("disabled", "readonly");
            $("#selectStatus").append('<option value="En proceso">EN PROCESO</option> <option value="Verificacion">VERIFICACIÓN</option>');
        }
    });

    $('#clientes').on('change', function () {
        var valor = $(this).val();
        if (valor != "") {
            $.ajax({
                url: '/Trabajos/GetVehiculosId',
                async: true,
                type: 'POST',
                data: { id: valor },
                success: function (res) {
                    var json = JSON.parse(res.data);
                    $("#selectVehiculo").empty();
                    json.map((item) => {
                        $("#selectVehiculo").append('<option value="' + item.IdVehiculo + '">' + item.Marca + " " + item.Modelo + " " + item.Annio + '</option>');
                    })
                },
                error: function (data) {
                }
            });
        } else {
            $("#selectVehiculo").empty();
        }

    });
</script>